<div class="container" ng-controller="BooksCtrl as ctrl">

    <div class="page-header">
        <h2>Bestsellers</h2>
    </div>

    <div class="progress"  ng-hide="ctrl.showResults">
        <div class="progress-bar progress-bar-striped active" role="progressbar" aria-valuenow="80" aria-valuemin="0" aria-valuemax="100"
            style="width:70%">
            Fetching list of bestsellers
        </div>
    </div>

    <div ng-show="ctrl.showResults">
        <form>
            <!-- <select class="form-group" ng-init="ctrl.selectedListIndex = 0" ng-model="ctrl.selectedListIndex" ng-change="ctrl.showSelectedList()">
                <option ng-repeat="item in ctrl.listnames" value="{{$index}}"> {{item}} </option>
            </select> -->
            <select class="form-group" ng-model="ctrl.selectedListIndex" ng-options="y for (x,y) in ctrl.listnames" ng-change="ctrl.showSelectedList()">
            </select> 
        </form>

        <div class="panel panel-default">
            <div class="panel-heading">
                <h4> {{ ctrl.selectedList.display_name }} <span class="badge pull-right"> {{ ctrl.selectedList.books.length}} </span>                    </h4>
            </div>
            <div class="panel-body">
                <ul class="list-group">
                    <li class="list-group-item" ng-repeat="book in ctrl.selectedList.books" ng-click="ctrl.showReviews(book)">

                        <div class="media">
                            <div class="media-left" style="width: 200px;">
                                <img class="img-rounded" src="{{book.book_image}}" class="media-object" style="width:60px">
                            </div>
                            <div class="media-body">
                                <h4 class="media-heading"> {{ book.title }} </h4>
                                <mark> {{ book.author }} </mark>
                                <blockquote>{{ book.description }}</blockquote>
                                <small> 
                                    Publisher: {{ book.publisher }} <br>
                                    ISBN: {{ book.primary_isbn10 }} <br>
                                    ISBN-13:{{ book.primary_isbn13 }} 
                                </small>
                            </div>
                        </div>
                    </li>
                </ul>
            </div>
        </div>
    </div>

</div>