<div class="container" ng-controller="ReviewsCtrl as ctrl">

    <div class="page-header">
        <h2>Reviews</h2>
    </div>

    <div class="progress" ng-hide="ctrl.showResults">
        <div class="progress-bar progress-bar-striped active" role="progressbar" aria-valuenow="80" aria-valuemin="0" aria-valuemax="100"
            style="width:70%">
            Fetching list of reviews
        </div>
    </div>

    <div ng-show="ctrl.showResults">
        <div class="panel panel-default">
            <div class="panel-heading">
                <h4> Reviews for {{ctrl.title}} <span class="badge pull-right"> {{ ctrl.reviews.length}} </span> </h4>
            </div>
            <div class="panel-body">
                <ul class="list-group">
                    <li class="list-group-item" ng-repeat="review in ctrl.reviews">
                        {{review.snippet}}
                    </li>
                </ul>
            </div>
        </div>
    </div>

</div>